
/* 共通設定 */

/* 全体の横幅設定とフォント統一 */
.wrapper {
    width: 1000px;
    max-width: 100%;
    margin: 0 auto;
}

/* フロート解除用 */
.clearfix::after { 
    content: '';
    display: block; 
    clear: both;
}
/* 自動スクロール対応 */
html {
    /* ブラウザによっては機能しない */
    scroll-behavior: smooth;
}

/* 背景画像ありのセクション */
.back {
    width: 100%;
    margin: 0;
}

/* スマホ画面で改行する準備 */
.sp_br {
    display: none;
}

/* 全体の文字調整 */
p {
    font-size: 1.2rem;
}

html {
    font-size: 14px;
} 

/* ----------------------------------- */
/* みだし一覧 */

/* header toptext,  */
body h1 {
    font-size: 2.5rem;
    text-align: center;
}

/* conerクラスのh1・h2のセット使用 */
.coner h1 {
    font-size: 5rem;
}

/* .textarea2 review */
.reviews h1 {
    text-align: left;
    font-size: 2rem;
}

/* goods_detのh1 */
.goods_det h1 {
    font-size: 1.8rem;
    margin: 0 5%;
}

/* conerクラスのh1・h2のセット使用 */
body h2 {
    font-size: 1.2rem;
    width: 30%;
    text-align: center;
    letter-spacing: 2em;
}

/* 文字感覚調整 */
.coner_faq h2 {
    letter-spacing: 0.5em;
}

/* .about testarea_1, */
body h3 {
    margin: 0 auto 20px;
    font-size: 2.5rem;
    text-align: center;
}

/* .faq qaset */
.qaset h3 {
    background-color: #eee;
    margin: 0;
    padding-left: 10px;
    text-align: left;
    box-sizing: border-box;
    font-size: 2rem;
}

/* .footer company */
.company h3 {
    text-align: left;
    margin: 0 0 20px;
    font-size: 2rem;

}
/* .four, 選ばれる４つの理由 */
body h4 {
    font-size: 4rem;
    text-align: center;
    margin: 0 20px;
}

/* .four harf */
body h6 {
    font-size: 1.5rem;
    text-align: center;
}

/* coner系：大文字と小文字の上下セットみだし */
.coner {
    margin-bottom: 50px;
}

.coner_h2 {
    margin: 0 auto;
}






/* -------------------------------- */
/* ヘッダー部分 */
.head {
    display: flex;
    height: 100px;
    justify-content: space-between;
    margin: 0 5%;
}

/* 親要素に対して相対的な大きさ設定 */
.rogo {
    width: 15%;
    margin-left: 0;
    margin-top: auto;
    margin-bottom: auto;
    
}

/* ヘッダーメニューの設定 */
.head ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    margin-right: 0;
}

/* ヘッドクラスのaタグ設定 */
.head a {
    text-decoration: none;
    color: black;
    /* ホバー時のアクション追加のため設定 */
    position: relative;
}

/* ホバー時のaタグアクションの下準備 */
.head a::after {
    position: absolute;
    content: '';
    width: 0%;
    left: 0;
    bottom: -8px;
    height: 3px;
    transition: .3s;
    background: #ddd
    ;
}
/* ホバー時のaタグアクション */
.head a:hover::after {
    width: 100%;

}

/* リスト要素の感覚調整 */
.head ul li {
    margin-left: 20px;
}

/* -------------------------------- */
/* ここからメイン */

/* メインロゴ */
/* 幅変更にも対応しやすいように％で大きさ設定 */
.main_rogo {
    width: 90%;
    margin: 0 5%;
}

/* 冒頭コメント。横幅％指定と中央揃え */
.toptext {
    width: 90%;
    text-align: center;
    margin: 40px auto 0;

}


/* ここだけ強調 */
/* 見出しの中で強調したいのでここは%で文字調整 */
.b-blow {
    font-weight: bold;
    font-size: 130%;
    font-family: serif;
}

/* 行間を調整。間に2文字分が入る */
.toptext p {
    line-height: 300%;
}

/* ----------------------------------
ABOUT */

/* 背景に画像を設定するための土台部分 */
.box {
    position: relative;
    margin: 0;
    width: 100%;
    /* flexにすることで高さを自動調節させる */
    display: flex;
}

/* 背景画像を固定する */
.back_img1 {
    position: absolute;
    width: 100%;
    height: 115%;
    top: 0;
    bottom: 0;
}

/* 背景の上に重なるように入力欄の要素作成 */
.textarea {
    margin: 15% 5% auto;
    /* 背景画像よりも上に来るように設定 */
    z-index: 200;

}

/* 見だし・左テキスト右画像のセット */
.textarea_1 {
    margin-bottom: 30px;
}

/* テキストと画像のセット。スマホでflex解除する */
.textarea_1_1 {
    position: relative;
    display: flex;
}


.area1_p {
    width: 55%;
    line-height: 300%;
    margin: 20px 0;
    text-align: left;
}

.img_samp {
    position: absolute;
    left: 55%;
    width: 45%;
}

/* 上下で幅の比率が異なっている */
.area1_p2 {
    width: 50%;
    line-height: 300%;
    margin: 60px 0 20px;
    text-align: left;
}

/* ------------------------ */
/* .b-blowが選ばれる４つの理由 */

/* ４つの理由部分の枠 */
.four {
    margin: 20% auto 0;
    width: 90%;
}

/* 「b-blow」を強調と書体変更をする */
.four_blow {
    font-size: 130%;
    font-weight: bold;
    font-family: serif;
}

/* ４を強調 */
.span_4 {
    font-size: 130%;
}


/* 01~04までのセット。flexで高さ制御 */
.pair {
    position: relative;
    width: 100%;
    display: flex;
    /* 中央に少しスペースを作る */
    justify-content: space-between;
    flex-wrap: wrap;
}

/* 高さ調節のためにflex使用 */
.harf {
    position: relative;
    width: 49%;
    margin-top: 5%;
    display: flex;
    flex-wrap: wrap;
}

/* 要件通りの上下調整できませんでした。 */
.title {
    text-align: center;
    position: relative;
    width: 100%;
    height: 15%;
}

/* アイコンと重ねる */
.point {
    float: left;
    left: 0;
    display: flex;
    box-sizing: border-box;
    padding-top: 10%;
    padding-left: 5%;

}

.point p {
    font-size: 2.5rem;

}

/* 付番 */
.num {
    margin-right: 10px;
    margin-left: 10px;
    /* スラッシュゼロ対応。はみ出てしまいました・・ */
    font-variant-numeric: tabular-nums;
    font-variant-numeric: slashed-zero;
}

/* アイコンを配置するための箱
pointと重ねるためにabsolute */
.icon_base {
    float: right;
    width: 100%;
    position: absolute;
    height: 100%;
    align-items: center;
    text-align: right;
    margin-bottom: 5%;
}

.icon {
    position: relative;
    padding-right: 25%;
    margin-top: auto;
    margin-bottom: auto;
    
}

/* 画像のサイズの差異でうまく配置できなかったので
個別にクラスを作りました。 */
.kutu {
    top: 25%;
    position: relative;
    padding-right: 10%;
    margin-top: auto;
    margin-bottom: auto;
    padding-top: 8%;

}

/* 一定の高さを超えると文字量によって
動的に高さが変化するように擬似クラス使用 */
.reason_text {
    text-align: left;
    line-height: 300%;
    margin-top: 10%;
    margin-bottom: 10px;
    display: flex;
    font-size: 1.1rem;

}

.reason_text::before {
    content: "";
    display: block;
    width: 0;
    height: 0;
    padding-bottom: 40%;
}

/* 見出しと円グラフのセット */
.survey {
    width: 90%;
    margin: 20px auto;
}

/* グラフ。親クラスの横幅に合わせる */
.img_per {
    margin: auto;
    width: 100%;
}

/* 見出しの位置調整 */
.h6_under {
    position: absolute;
    margin-top: 60px;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}


/* --------------------------------- */
/* CUSTOMER REVIEWS */


/* 背景に画像を設定するための土台部分 */
.box2 {
    position: relative;
    margin: 0;
    width: 100%;
    display: flex;
}

/* 要素を入れるエリア */
.textarea2 {
    margin: 280px 5% auto;
    width: 90%;
    z-index: 200;

}
 
/* 画像・見出し・テキストのセット */
.reviews {
    width: 100%;
    height: 25%;
    margin-bottom: 5%;
}

.reviews p {
    line-height: 250%;
    font-size: 1.1rem;
}

/* 画像を右寄せかつ、テキストを重ねる領域指定 */
.img_rev {
    float: right;
    right: 0;
    width: 60%;
    shape-outside: polygon(40% 0%, 100% 0%,100% 100%,30% 100%,30% 70%,30% 25%,40% 25%);

}

.img_rev4 {
    float: right;
    right: 0;
    width: 60%;
    shape-outside: polygon(40% 0%, 100% 0%,100% 100%,45% 100%,45% 70%,45% 50%,45% 25%);


}
/* ---------------------------- */

/* PRODUCTS */

.products {
    margin-top: 20%;
    margin-left: 5%;
    margin-right: 5%;

}

/* flexで高さ自動調整 */
.goods {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

/* 中央にスペースを作れるように幅調整 */
.goods_harf {
    width: 45%;
}

/* 親クラスよりも一回り小さく設定 */
.img_goods {
    width: 90%;
    margin: 0 5%;
}

/* b-blowの強調 */
.goods_b {
    margin: 0 30px 0 auto;
    font-size: 130%;
}

/* 親クラスと同じ横幅 */
.kakaku {
    text-align: center;
    margin: 5% 0;
}

/* 文字サイズ調整 */
.goods p {
    font-size: 1.1rem;
}

/* 文字を入れる箱の設定 */
.det {
    line-height: 200%;
    width: 90%;
    margin: 0 5%;
}

/* 枠線とボックス内の文字感覚で中央配置 */
.online {
    margin: 30px 5% 0;
    text-align: center;
    border: solid 1px black;
    height: 80px;
    width: 90%;
    line-height: 80px;
    font-size: 2rem;
}

/* カーソルが上に乗ると色が変わる */
.online a:hover {
    background-color: black;
    color: white;
    transition: 1s;
}

/* リンクによるk変色や下線の修正 */
.products a {
    text-decoration: none;
    color: black;
    display: block;
} 


/* 定期配送の外部リンクを作る場合はこちら */
/* .teiki {
    margin-top: 30px;
    margin-bottom: 100px;
    text-align: center;
    border: solid 1px black;
    height: 80px;
    width: 100%;
    line-height: 80px;
    font-size: 250%;
    list-style: none;
    text-decoration: none;
} */
/* 
.teiki:hover {
    background-color: black;
    color: yellow;
    transition: 1s;
} */

/* 定期配送外部リンクのホバー設定 */
/* .teiki a:hover {
    background-color: black;
    color: yellow;
    transition: 1s;
}  */

/* -------------------------------
定期購入フォーム */

/* 背景に画像を設定するための土台部分 */
.box3 {
    position: relative;
    margin: 0;
    width: 100%;
    display: flex;
}

/* 背景画像を固定する */
.back_img5 {
    position: absolute;
    width: 100%;
    height: 120%;
}

/* 背景画像の上に重ねるゾーン */
.teiki_form {
    position: relative;
    width: 90%;
    margin: 20% 5% 0;
}

/* フォーム領域 */
.text {
    position: relative;
    margin-top: 50px;
    font-size: 2.5rem;
}

/* サイズ調整 */
.teiki_form h1 {
    font-size: 3rem;
} 

/* inputタグ１ */
.tag1 {
    width: 70%;
    font-size: 2.5rem;
    margin-bottom: 3%;
}

/* タグ２ */
.tag2 {
    width: 80%;
    font-size: 2.5rem;
    margin-bottom: 3%;
}

/* タグ３ */
.tag3 {
    width: 30%;
    font-size: 2.5rem;
    margin-bottom: 3%;
}
/* -----------------------------
FAQ */

/* faqの土台部分 */
.faq {
    width: 90%;
    margin: 30px 5%;
}

/* faqの見出しセット部分 */
.coner_faq {
    margin-bottom: 100px;
    margin-left: 5%;
    margin-right: 5%;
}

/* 見出しの強調部分 */
.faq_h1 {
    font-size: 200%;
}

/* 見出し３とテキストの欄 */
.qaset {
    margin-bottom: 40px;
}

/* 行間調整 */
.qaset p {
    line-height: 200%;
}
/* ------------------------------
news */

/* ニュースサイトアイコン配置の土台 幅調整*/
.news {
    margin: 200px auto;
    width: 85%;
}

/* 横並びにして両端均等揃え */
.news_row1 {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
} 


.news a {
    width: 18%;
    margin-top: auto;
    margin-bottom: auto;

}

/* 少し浮いて色が薄くなる */
.news a:hover {
    transform: translateY(-2px);
    opacity: 0.7;
}

/* 大きさ調整とブロック要素にしてmarginを効かせて中央よせ */
.img_news {
    width: 80%;
    height: 100%;
    margin: auto;
    display: block;

}

/* --------------------------------
フッター */

/* フッターの背景色、中身を横並べ
SNSアイコンの位置を絶対指定しているのでrelativeにする */
.footer {
    background-color: #eee;
    display: flex;
    position: relative;
}

/* 左側ゾーン、文字左寄せ */
.company {
    text-align: left;
    margin-top: 30px;
    margin-left: 5%;
    margin-bottom: 20px;
}

/* 販売元とY＆U〜の間 */
.company_0 {
    margin-right: 30px;
}

/* 行間設定 */
.company p {
    line-height: 200%;
}

/* アイコン配置の絶対指定、右側少し隙間、横並べ */
.sns_0 {
    position: absolute;
    right: 5%;
    bottom: 20px;
    display: flex;
}

/* Twitterアイコンのエリア */
.sns1 {
    display: flex;
    margin-right: 10px;
    background-color: #1DA1F2;
    border-radius: 10px;
    color: white;
    border: solid 1px #1DA1F2;
    /* align-items: center;    */
    font-size: 1.5rem;
}

/* 少し浮いて色が薄くなる */
.sns1:hover {
    transform: translateY(-2px);
    opacity: 0.7;
}

/* aの効果消去 */
.sns_0 a {
    text-decoration: none;
}

/* margin調整(twitter文字) */
.sns1 p {
    margin: 5px 20px 5px 10px;
}

/* 左隙間(twitterアイコン) */
.sns1 img {
    margin-left: 10px;
}

/* インスタ側 */
.sns2 {
    display: flex;
    background-color: black;
    border-radius: 10px;
    color: white; 
    align-items: center; 
    border: solid 1px black;
    font-size: 1.5rem;
}

/* インスタ浮かせ */
.sns2:hover {
    transform: translateY(-2px);
    opacity: 0.7;
}

/* インスタ文字margin */
.sns2 p {
    margin: 5px 10px;
}