* {
    margin: 0;
    padding: auto;
}

.clearfix::after { 
    content: '';
    display: block; 
    clear: both;
}

.head {
    width: 1000px;
    height: 120px;
    position: absolute;
    top: 20px;
}


.pic {
    position: relative;
    width: 200px;
    height: 120px;
    text-align: center;
    float: left;
    background-color: #add8e6;
}

.head-right {
    position: relative;
    float: left;
    width: 800px;
    text-align: right;
    justify-content: center;
}

.right-up {
    height: 60px;
    background-color: #87ceeb;
}

.right-down {
    height: 60px;
    background-color: #00ffff;
}

.p1 {
   display: inline-block;
   text-align: center;
   line-height: 60px;
}

.main {
    margin-top: 140px;
    width: 1000px;
    /* padding: 10px auto;     */
    display: flex;
}

.table {
    position: relative;
    text-align: center;
    margin: 10px auto;
    width: 80%;

    
}

thead {
    background-color: #87ceeb;
    border: solid 1px white;
    
}

td {
    text-align: left;
    background-color: #e0ffff;
}

footer {
    width: 1000px;
    height: 50px;
    background-color: #00ced1;
}

footer p {
    margin-top: 0;
    margin-left: 0;
}